body.dark {
  background-image:url('./store/actions/standsome-worklifestyle-rDfrL7caLz4-unsplash.jpg');
  background-repeat: no-repeat;
}
.strong {
  font-size: 16px;
  color: rgb(3, 8, 12);
}
.sp-bt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: rgba(73, 231, 215,.4);
}
.btn-hover:hover {
  background: aqua;
}